<head>
  <meta charset="utf-8">
  <title>Basic Map</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script type="text/javascript" src="../static/choropleth.js"></script>+

    <script src="/js/leaflet-0.7.2/leaflet.ajax.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/style.css">

  <script src="https://d3js.org/d3.v5.min.js"></script>

  

</head>

<body>

  </div>

  </div>
  </nav>
  <div id="map"> </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Macroeconomic Data
        </h1>
      </div>
      <blockquote class="blockquote">
        <p class="mb-0">
          Discover how the unemployment rate, minimum wage, and per capita income impacts the US across each state.
          national level.
        </p>
      </blockquote>
    </div>
  </div>

<div class="dropdown">



<select id="dropdown" onchange="changeDataset(this.value);">
  <option value="Unemployment">Unemployment</option>
  <option value="Per Capita Income">Per Capita Income</option>
  <option value="Minimum Wage">Minimum Wage</option>
</select>
  </div>

  </br>


  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote">
        <p class="mb-0">
          This product uses the FRED® API but is not endorsed or certified by the Federal Reserve Bank of St.
          Louis.
        </p>
      </blockquote>
    </div>
  </div>
  </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/plots.js"></script>
<script type="text/javascript" src="../static/unemployment_states.js"></script>
<script type="text/javascript" src="../static/percapincome_states.js"></script>
<script type="text/javascript" src="../static/minimumwage_states.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
